// Step Editor Modal

.modal.fade#editor-scene-step-editor-modal(tabindex="-1" role="dialog" aria-labelledby="editor-scene-step-editor-modal" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Edit Step
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        form
          .form-group
            label.col-form-label Delay (ms):
            input.form-control#editor-scene-step-editor-modal-delay(type="number")
      .modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        button.btn.btn-primary#editor-scene-step-editor-modal-save(type="button" data-dismiss="modal") Save

// New Animation Modal

.modal.fade#editor-scene-creator-modal(tabindex="-1" role="dialog" aria-labelledby="editor-scene-creator-modal" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title New Scene
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        form
          .form-group
            label.col-form-label Name:
            input.form-control#editor-scene-creator-modal-name(type="text", placeholder="Scene Name")
      .modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        button.btn.btn-primary#editor-scene-modal-save(type="button" data-dismiss="modal") Add

// New Device Modal
.modal.fade#editor-add-device-modal(tabindex="-1" role="dialog" aria-labelledby="editor-add-device-modal" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title New Device
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        form
          .form-group
            label.col-form-label Name:
            input.form-control#editor-add-device-modal-name(type="text", placeholder="Device Name")
          .form-group
            label.col-form-label Type:
            select.form-control#editor-add-device-modal-type
              each option, index in deviceTypes
                option=index
          .form-group
            label.col-form-label Universe:
            select.form-control#editor-add-device-modal-universe
              each universe, universeName in config.universes
                option=universeName
          .form-group
            label.col-form-label Address:
            input.form-control#editor-add-device-modal-address(type="number", value=1, min=1, max=512)

      .modal-footer
        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        button.btn.btn-primary#editor-device-modal-save(type="button" data-dismiss="modal") Add

// Main editor
.container-fluid

  br

  .row

    .col-md-12.col-lg-3.col-xl-2
      .card.bg-dark.text-white
        .card-header
          h2
            span Scenes
            button.btn.btn-info.float-right(data-toggle="modal" data-target="#editor-scene-creator-modal")
              i.fas.force-parent-lh.fa-plus
        .list-group
          each scene, index in scenes
            if !scene.hidden && !scene.legacy
              button.list-group-item.list-group-item-action.bg-dark.text-white.editor-scene-selector(scene_id=scene.id)=scene.label

    .col-md-12.col-lg-9.col-xl-8
      br.d-lg-none
      .card.bg-dark.text-white#editor-scene-help
        .card-body.text-center
          br
          h5.text-secondary Select a scene from the left to edit, or:
          br
          button.btn.btn-info.btn-lg(data-toggle="modal" data-target="#editor-scene-creator-modal") Create A New Scene
          br
          br

      .card.bg-dark.text-white#editor-scene-editor(style="display: none;")
        .card-header
          h1
            span#editor-scene-title Scene Title
            button.btn.btn-danger.btn-lg.float-right#editor-scene-delete
              i.fas.force-parent-lh.fa-trash-alt
            button.btn.btn-primary.btn-lg.float-right.mr-3#editor-scene-save
              i.fas.force-parent-lh.fa-save
        .card-body
          
          h4 Static
          br
          div.row
            div.col-sm-3
              p Universe
            div.col-sm-3
              p Channel
            div.col-sm-2
              p Transition(ms)
            div.col-sm-3
              p Value
            div.col-sm-1
          div#editor-scene-static
            p.text-secondary.text-center No Static Values 

          br

          button.btn.btn-secondary.btn-block#editor-scene-add-static Add Static Value

          hr

          h4 Animations
          br
          div#editor-scene-animations
            p.text-secondary.text-center No Animations

          br

          button.btn.btn-secondary.btn-block#editor-scene-add-animation Add Animation

    .d-none.d-xl-block.col-xl-2
      .card.bg-dark.text-white
        .card-header
          h2
            span Devices
            button.btn.btn-info.float-right(data-toggle="modal" data-target="#editor-add-device-modal")
              i.fas.force-parent-lh.fa-plus
        .list-group
          each device,index in devices
            li.list-group-item.bg-dark.text-white
              div
                span.badge.badge-primary #{device.address}-#{Number(device.address) + (device.channels.length - 1)}
                span.mr-2.ml-2 - 
                span=device.label
                button.btn.btn-danger.btn-sm.float-right.editor-device-delete(editor-device-id=device.id)
                  i.fas.force-parent-lh.fa-trash-alt
              div
                .col-sm-11.offset-md-1
                  table.table-sm.table-borderless.text-white
                    each channel, k in device.channels
                      tr
                        td
                          span.badge.badge-secondary #{Number(device.address) + k}
                        td.w-100.text-left
                          if ["pan", "pan-fine"].indexOf(channel) !== -1
                            i.hide-on-xxl.fas.fa-arrows-alt-h.mr-2
                          if ["tilt", "tilt-fine"].indexOf(channel) !== -1
                            i.hide-on-xxl.fas.fa-arrows-alt-v.mr-2
                          if ["move-speed"].indexOf(channel) !== -1
                            i.hide-on-xxl.fas.fa-tachometer-alt.mr-2
                          if ["static-color", "color-speed"].indexOf(channel) !== -1
                            i.hide-on-xxl.fas.fa-palette.mr-2
                          if ["program", "effect"].indexOf(channel) !== -1
                            i.hide-on-xxl.fas.fa-certificate.mr-2
                          if ["dimmer", "strobe", "dimmer-strobe-combo"].indexOf(channel) !== -1
                            i.hide-on-xxl.fas.fa-lightbulb.mr-2
                          if ["gobo-selector"].indexOf(channel) !== -1
                            i.hide-on-xxl.fas.fa-cookie.mr-2
                          if channel == "red" || channel.match(/^red\d+$/g)
                            i.hide-on-xxl.fas.fa-circle.text-danger.mr-2
                          if channel == "green" || channel.match(/^green\d+$/g)
                            i.hide-on-xxl.fas.fa-circle.text-success.mr-2
                          if channel == "blue" || channel.match(/^blue\d+$/g)
                            i.hide-on-xxl.fas.fa-circle.text-primary.mr-2
                          if channel == "white" || channel.match(/^white\d+$/g)
                            i.hide-on-xxl.fas.fa-circle.mr-2
                          =channel